.container{
    max-width: 800px;
    justify-content: center;
    margin: auto;

}
form{
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}

.left{
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}
.right{
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
    justify-content: space-evenly;
}

.form-label{
    display: flex;
    justify-content: space-between;
}